.about {
    padding-bottom: 2rem;

    &__bio-image {
        height: 50vh;
        width: 100%;
        background: 
            linear-gradient(
                to right,
                rgba($primary-color, 0.8),
                rgba($primary-color, 0.2)
            ),
            url($background-picture) center top;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        
        p {
            margin-bottom: 0.8rem;
        }
    }

    &__bio {
        width: 80%;
        text-align: center;

        .text-secondary {
            padding-bottom: 0.5rem;
        }

        p {
            line-height: 1.2rem;
        }
    }
    
    .jobs {
        width: 60vw;
        margin: 2rem auto 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;

        &__job {
            background: lighten($primary-color, 10%);
            padding: 0.5rem;
            border-bottom: 5px solid $secondary-color;

            h2, h3 {
                margin: 0.5rem 0;
            }
            h6{
                margin: 0.3rem 0;
            }
            p {
                margin: 0.3rem 0;
                padding: 0.5rem;
                line-height: 1.2rem;
            }
        }
    }

    footer {
        transform: 
            rotate(90deg)
            translate(-4rem, -4rem);
    }

}