.contact {
    height: 100%;
    padding-top: 15vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    // text-align: center;
    background: 
        linear-gradient(
            to right,
            rgba($primary-color, 0.8),
            rgba($primary-color, 0.2)
        ),
        url($background-picture) center top;
    background-size: cover;

    h2 {
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1.5rem;
        font-size: 1.25rem;
    }

    &__text {
        color: $secondary-color;
        text-align: center;
    }

    &__res-text {
        color: $secondary-color;
        font-size: 1.5rem;
        text-align: center;
    }

    &__item {
        font-size: 2.5rem;
        margin-bottom: 2rem;
        margin-left: 50%;
        color: $secondary-color;
    }
}



.social-icon {
    color: $secondary-color;
    @include transition-ease;

    &:hover {
        cursor: pointer;
        color: $third-color;
    }
}